@import "root.css";

/* Reset */
html {
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100%;
  background-color: #222831; /* Fallback background color */
}

body {
  background: none;
}

h1,
h2,
h3,
h4 {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  margin: 0;
}

a {
  color: var(--Link-Unvisited);
  text-decoration: underline;
  font-weight: bold;
}
a:visited {
  color: var(--Link-Visited);
}
a:hover {
  color: var(--Link-Hover);
}
a:active {
  color: var(--Link-Active);
}

/* Grid and Layout */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

div.container {
  width: 100%;
  max-width: 1200px;
  flex-direction: column;
}

header,
footer,
section {
  background: var(--IndexGridBackground);
  backdrop-filter: blur(5px);
  padding: 20px;
  border-radius: 20px;
}

section {
  flex-grow: 1;
}

main,
div.container {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

header h1 img {
  margin: 0 5px;
}

ul {
  padding-left: 1.2rem;
}

/* Media Queries */
@media only screen and (min-width: 1400px) {
  /* Custom styles for desktops if any */
}

@media only screen and (min-width: 992px) and (max-width: 1399px) {
  ul {
    columns: 2;
    column-gap: 20px; /* Maintain column spacing */
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  ul {
    columns: 1;
    column-gap: 20px; /* Maintain column spacing */
  }
}

@media only screen and (max-width: 767px) {
  ul {
    columns: 1;
  }
  .GridContainer {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .Title {
    grid-row: 1;
    grid-column: 1 / span 1;
  }
  .BalanceContainer {
    grid-row: 2;
    grid-column: 1 / span 1;
  }
  .GameContainer {
    grid-row: 3;
    grid-column: 1 / span 1;
  }
  .BalanceDev {
    grid-row: 4;
    grid-column: 1 / span 1;
  }
  .Support {
    grid-row: 5;
    grid-column: 1 / span 1;
  }
}

@media screen and (max-width: 500px) {
  ul {
    columns: 1;
  }
  .Title h1 {
    font-size: 32px; /* Adjusted for smaller screens */
    line-height: normal;
  }
}
